* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    line-height: 1.6;
    color: #000;
    background-color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
}

.bakery-title {
    font-family: 'Ultra', serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #171B1B;
    letter-spacing: 0px;

}

.button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    transition: 0.3s;

}

.button--primary {
    background-color: #ff7500;
    color: #fff;
}

.button--primary:hover {
    opacity: 0.85;
}

.header {
    background-color: #fff;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    height: 35px;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 400px;
}

.header__link {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: #92908e;
}

.header__link--active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4a4a4999;
}

.header__button {
    width: 138px;
    height: 48px;
    background-color: #000000;
    color: #fff;
    border: 1px;
    border-radius: 2px;
    font-weight: bold;
}

.header__button:hover {
    opacity: 0.9;
}


/* hero section boshlandi */

.content {
    display: flex;
}

.hero {
    background-color: #E7D4BE70;
}

.hero-text {
    padding-top: 160px;
}

.hero-title {
    width: 467px;
    height: 240px;
    font-family: "Ultra";
    font-weight: 400;
    font-size: 72px;
}

.hero-img {
    width: 760px;
    height: 810px;
    margin-left: 118px;
}

.hero-text {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
}

/* big section boshlash */

.contnet {
    display: flex;
}

.big-sec {
    background-image: url(img/2\ section\ fon.png);
}

.big-sec {
    padding-top: 160px;
    border-radius: 10px;
    padding-left: 54px;
}

.big-section {
    padding-left: 130px;
    padding-top: 151px;
}

.big-text {
    padding-bottom: 16px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.big-title {
    font-family: "Ultra";
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
}

.big-01 {
    padding-top: 60px;
}

.big-text {
    width: 370px;
    padding-top: 12px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.big-ul {
    list-style: none;
}

.big-link {
    padding-bottom: 16px;
}

.up {
    border-radius: 24px;
    color: white;
    width: 48px;
    height: 48px;
    background-color: #000;
    margin-bottom: 8px;
}

.in {
    border-radius: 24px;
    color: white;
    width: 48px;
    height: 48px;
    background-color: #000;
}

.big-subtext {
    padding-left: 52px;
}

/* bakend section boshlandi */
.wrapper-card {
    display: flex;
}

.baked-title {
    font-family: "Ultra";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.baked-card {
    width: 400px;
    height: 384px;
}

.baked-text {

    color: #3333337F;
    width: 306px;
    height: 69px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.bakend-title-text {
    padding-left: 40px;
    padding-bottom: 70px;

}

.baked-text1 {
    width: 370px;
    padding-top: 12px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding-left: 150px;
    padding-bottom: 18px;
    padding-top: 185px;
}

.baked-text-bem {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding-left: 500px;
    padding-bottom: 18px;
    padding-top: 185px;
}

.baked-title-bem {
    font-family: "Ultra";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    padding-left: 350px;
}

.baked-card-bm {
    width: 400px;
    height: 416px;
    background-color: #F9BF77;
}

.bakend-img {
    padding-top: 72px;
    padding-left: 62px;
}

.baked-title {
    padding-left: 62px;
}

.baked-text {
    padding-left: 62px;
}

.baked-title {
    padding-top: 59px;
    padding-bottom: 18px;
}

/* kurasan section boshalndi */


.kurasan {
    padding-bottom: 100px;
    margin-top: 176px;
    padding-top: 100px;
    background-color: #00000054;
}

.content {
    display: flex;
}

.kurasan-img {
    padding-left: 167px;
}

.kurasan-box {
    padding-left: 286px;
}

.kurasan-text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.kurasan-title {
    font-family: "Ultra";
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;

}

/* Products section boashlandi */

.Products__card {
    width: 770px;
    background-image: url(img/Homemade\ \ Bread.png);
    margin-top: 200px;
    padding-bottom: 69px;
    height: 400px;
    top: 3440px;
    left: 135px;
    opacity: 1;
}

.title-Products {
    padding-top: 108px;
    width: 519px;
    height: 128px;
}

.Products__card {
    display: flex;
    color: #fff;

}

.Products-text {
    width: 650px;
    height: 128px;
    font-family: "Ultra";
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
}

.Products__photo {
    padding-top: 165px;
    padding-left: 48px;
}

.card-text {
    padding-bottom: px;
}

.card-title {
    font-family: "Ultra";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
}

.card-text {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF80;
}

.Products__card {
    display: flex;
}

.Products__photo2 {
    padding-left: 450px;
    display: flex;
    color: #000;
}

.card-title-bread {
    padding-left: 32px;
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.card-text2 {
    padding-left: 32px;
}

.wrap-card {
    display: flex;
}

.card-title {
    padding-left: 32px;
    font-family: "Ultra";
    font-weight: 400;
    font-size: 40px;

    line-height: 48px;
    letter-spacing: 0px;
    text-align: right;


}

.wrap-card-slide {
    display: flex;

}

.card-slide {
    padding-top: 32px;
    padding-right: 30px;
}

wrap-img {
    width: 370;
    height: 304;
    opacity: 1;

}

.slide-title {
    padding-top: 12px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.slide-title-3 {
    font-family: "Ultra";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: right;
}

.slide-text {
    padding-top: 25px;
}

.button {
    padding-bottom: 200px;
    padding-left: 500px;
    padding-top: 64px;


}

.slide__button {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 59px;
    width: 170px;
    height: 48px;
    opacity: 1;
    border: 4px solid #171B1B3D;
    background-color: white;
    color: #161313;
    border-radius: 2px;
    font-weight: bold;
}

.slide__button:hover {
    color: #92908e;
}

.card-wrapper {
    display: flex;
    color: white;
}

.recipes {
    background-color: #000d0b;
}

.recipes-text-title {
    color: white;
    padding-top: 217px;
}

.recipes-text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;

}

.recipes-title {
    font-family: "Ultra";
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 70px;

}

.recipes-card {
    padding-left: 33px;
    color: #000;
    background-color: white;
    width: 284px;
    height: 384px;
    opacity: 1;
    top: 4880px;
    left: 135px;


}

.recipres-title {
    padding-bottom: 32px;
    font-family: "Ultra";
    font-weight: 700;
    font-size: 40px;
    padding-top: 96px;
    line-height: 48px;
    letter-spacing: 0px;

}

.recipres-text {
    color: #3333337F;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;

}

.recipes-card1 {
    background-color: #FBB65F;
    color: #000;
    padding-left: 33px;
    color: #000;
    width: 302px;
    height: 384px;
    opacity: 1;
    top: 4864px;
    left: 419px;

}

.recipres-text-raqam {
    color: #3333337F;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
}

/* main section boshandi yani orta section */
.main {
    height: 1400px;
    background-color: #000d0b;
}

.main-wrapper {
    color: white;
    width: 617px;
    height: 128px;
    padding-top: 185px;
    padding-bottom: 70px;
}

.main-text {
    color: white;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;

}


.main-wrapp {
    padding-bottom: 20px;
    padding-top: 185px;
}

.main-title {
    width: 700px;
    color: white;
    padding-bottom: 5px;
    font-family: "Ultra";
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;

}

.main-woon-img {
    margin-right: 20px;
    color: #000;
    background-color: white;
    width: 570px;
    height: 736px;
    opacity: 1;
    top: 5696px;
    left: 135px;
}

.woon-text {
    padding-left: 48px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.woon-title {
    padding-left: 48px;
    font-family: "Ultra";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
    padding-bottom: 18px;
}

.woon-title-main {
    padding-left: 46px;
    color: white;
    width: 300px;
    color: #3333337F;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
}

.main-wrapper {

    display: flex;
}


.div {
    margin-left: -320px;
    display: flex;
}


.woon-img-min {
    width: 270px;
    height: 208px;
    opacity: 1;
    top: 5696px;
    left: 735px;
}

.text_title {
    width: 270px;
    height: 352px;
    opacity: 1;
    top: 5696px;
    left: 735px;

}

.main-woon-img-min3 {

    margin-left: 20px;
    padding-right: 20px;
}

.woon-text-min {
    padding-bottom: 14px;
    color: white;
}

.woon-title-main {
    padding-bottom: 14px;
    color: rgb(104, 101, 101);
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
}

.team__btn {
    padding: 11px 59px;
    border: 1px solid white;
    margin-left: -400px;
}

.team__btn:hover {
    opacity: 0.3;
}

.woon-title-min {

    padding-left: 48px;

}

.woon-text-min {
    padding-left: 48px;

}

/* baholash section boshlandi */
.baholash__text1 {
    font-family: " qOswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 16px;
    padding-top: 217px;
}

.baholash__title1 {
    font-family: "Ultra";
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
    padding-bottom: 62px;
}

.baholash__title {
    padding-bottom: 22px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.baholash__text {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    width: 370px;
    line-height: 32px;
    letter-spacing: 0px;
}

.baholash__text3 {
    padding-top: 22px;
    padding-bottom: 16px;
}

.baholash__oshpaz {

    padding-top: 192px;
}

.baholash__img {
    width: 645px;
    height: 624px;
    top: 6896px;
    left: 748px;
    opacity: 1;

}

/* people section boshlandi */
.people__div {
    padding-top: 233px;
    padding-left: 277px;
    text-align: center;
}

.people__text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.people__title {
    width: 617px;
    font-family: "Ultra";
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: center;
}

/* level section boshlandi */
.level__card {
    padding-left: 48px;
    padding-top: 100px;
    width: 384px;
    height: 368px;
    left: 135px;
    opacity: 1;
}

.level {
    display: flex;
}

.yulduzcha {
    color: #F5A623;
}

.level__text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 22px;
    line-height: 32px;
    letter-spacing: 0px;
}

.level__title {
    color: #3333337F;
    width: 306px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;

}

.level__card1 {
    margin-top: 52px;
    background-color: #FBB65F;
    padding-left: 48px;
    padding-top: 55px;
    width: 384px;
    height: 368px;
    left: 135px;
    opacity: 1;
}

.yulduzcha1 {
    color: #F5A623;
    display: flex;
}

.yulduzcha2 {
    display: flex;
    color: #F5D3AB;
}

.level__img {
    margin-left: 50px;
    border-radius: 50px;
    width: 102px;
    height: 102px;
    top: 8032px;
    left: 371px;
    ;
    opacity: 1;
    color: #F5D3AB;
}

/* end-main section boshlanldi */

.end-img {
    padding-top: 273px;
}

.end--tt {
    padding-left: 130px;
    padding-top: 273px;
}

.end-text {
    padding-bottom: 18px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.end-title {
    width: 287px;
    font-family: "Ultra";
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
}

.card-icon-user {
    display: flex;
    padding-top: 62px;
}

.icon {
    padding-left: 60px;
}

.icon__flex {
    display: flex;
}

.icon-text {
    padding-bottom: 12px;
}

.icon-title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    padding-bottom: 22px;
}

.icon-text1 {
    width: 155px;
    color: #3333337F;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    padding-bottom: 70px;
}

.icon__user-img {
    display: flex;
    width: 48px;
    height: 48px;
    opacity: 1;
    border-radius: 50%;
}

.content {
    padding-bottom: 24px;
}

.btn--primary {
    margin-bottom: 70px;
    padding-bottom: 70px;
    margin-left: 150px;
    padding: 11px 48px;
    border: 2px solid black;
    width: 180px;
    height: 48px;
    top: 9184px;
    left: 835px;
    opacity: 1;
}

.btn--primary:hover {
    color: #92908e;
}

.footer-wrapper {
    display: flex;
}

.ul-link {
    list-style: none
}

/* footer boshlandi */
.site-footer {
    height: 300px;
    color: white;
    background-color: #000d0b;
}

.footer-menu {
    padding-left: 240px;
}

.header__logo3 {
    padding-top: 57px;
}

.bakery-title1 {
    color: white;
    font-family: 'Ultra', serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
}

.footer--link {


    padding-bottom: 5px;
}

.footer__link {
    color: white;
        font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
}

.footer__link:hover {
    color: teal;
}

.footer__link-hov {
    padding-top: 8px;
    text-align: center;
    width: 48px;
    height: 48px;
    opacity: 1;
    border-radius: 5px;
    color: white;
    border-radius: 50px;
    background-color: #F5AE5C;
}

.footer__link-hov:hover {
    color: teal;

}

.footer-menu {
    padding-top: 57px;
}

.footer_menu {
    padding-bottom: 17px;
}
.footer-hr{
    display: flex;
}
.footer-end-text{
    padding-left: 543px;
    padding-right: 90px;
}
.footer-end{
    color: #FFFFFF80;
}